/* バナー */
#banner {
  padding: 0 1em;
  max-width: 940px;
  display: inline-block;
}
#goldBanner, #silverBanner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
}
#goldBanner {
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: 1fr 60px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  margin: 60px 0;
}
#silverBanner {
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 1fr 60px 1fr 60px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  margin: 60px 0;
}
#goldBanner > a, #silverBanner > a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #fff;
  font-size: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
  padding: 10px;
}
#goldBanner > a {
  height: calc(127px - 22px);
}
#silverBanner > a {
  height: calc(101px - 22px);
}
#goldBanner > a > img {
  width: 100%;
  max-width: 440px;
  object-fit: contain;
}
#silverBanner > a > img {
  width: 100%;
  max-width: 280px;
  object-fit: contain;
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 768px) {
  /*#goldBanner > a, #silverBanner > a {
    padding: 10px;
  }*/
  #goldBanner > a {
    /*height: calc(127px - 22px);*/
    height: calc(100vw / 7.3142);
  }
  #silverBanner > a {
    /*height: calc(82px - 22px);*/
    height: calc(100vw / 12.8);
  }
}
@media screen and (max-width: 576px) {
  #goldBanner > a, #silverBanner > a {
    padding: 2px;
  }
  #goldBanner {
    grid-column-gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-row-gap: 15px;
  }
  #silverBanner {
    grid-column-gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-row-gap: 15px;
  }
  #goldBanner > a {
    /*height: calc(68px - 4px);*/
    height: calc(100vw / 5.8594);
  }
  #silverBanner > a {
    /*height: calc(48px - 4px);*/
    height: calc(100vw / 8.5227);
  }
}
@media screen and (max-width: 330px) {
  #goldBanner {
    grid-column-gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-row-gap: 10px;
  }
  #silverBanner {
    grid-column-gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-row-gap: 10px;
  }
  #goldBanner > a {
    /*height: calc(68px - 12px);*/
    height: calc(100vw / 7.393);
  }
  #silverBanner > a {
    /*height: calc(48px - 12px);*/
    height: calc(100vw / 11.5);
  }
}