/*****************   sticky-header   ****************/

#sticky-header {
  position: fixed;
  display: flex;
  width: calc(100% - 40px);
  height: 50px;
  padding: 20px 20px;
  z-index: 1000;
  pointer-events: none;
  align-items: center;
}

#sticky-header .icon {
  height: 50px;
  width: calc(50px/490*662);
}

#sticky-header .text {
  height: 40px;
  margin: 0 auto 0 20px;
}

#sticky-header select {
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  background: none;
  border: none;
  pointer-events: all;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

#sticky-header select option {
  background: none;
}

#sticky-header .header-menu-btn {
  margin: 0 0 10px 20px;
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  pointer-events: all;
}

#sticky-header .line,
#sticky-header .line::before,
#sticky-header .line::after {
  display: inline-block;
  width: 30px;
  height: 3px;
  background: #454E53;
  transition: 0.3s;
}

#sticky-header .line {
  position: relative;
  pointer-events: all;
}

#sticky-header .line:before {
  content: "";
  position: absolute;
  transform: translateY(-12px) rotate(0deg);
}

#sticky-header .line:after {
  content: "";
  position: absolute;
  transform: translateY(12px) rotate(0deg);
}

@media screen and (max-width: 700px) {
  #sticky-header {
    position: fixed;
    display: flex;
    width: calc(100% - 20px);
    height: 35px;
    padding: 20px 10px;
  }

  #sticky-header .icon {
    height: 35px;
    width: calc(35px/490*662);
  }
  
  #sticky-header .text {
    height: 30px;
    margin-left: 10px;
  }

  #sticky-header select {
    display: none;
  }
}

/*****************   bottom-navigation   ****************/


#bottom-nav {
  display: none;
}

@media screen and (max-width: 700px) {
  #bottom-nav {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #FFF;
    margin: 0;
    display: block;
    transition: 0.4s ease-out;
  }

  #bottom-nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    height: 60px;
    align-items: flex-end;
    box-shadow: 0 0 4px 0px #b0b0b0;
    font-weight: bold;
    position: relative;
    z-index: 1000;
  }

  #bottom-nav li {
    width: 70px;
    line-height: 1em;
    position: relative;
    text-align: center;
    height: 1em;
    padding: 42px 0 5px 0;
    border-bottom: 3px solid #FFF;
  }

  #bottom-nav li:first-child {
    margin-left: 26px;
  }

  #bottom-nav li.pin::before,
  #bottom-nav li.live::before,
  #bottom-nav li.guidance::before,
  #bottom-nav li.language::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #bottom-nav li.pin::before {
    background: url("/img/pinWhite.svg") no-repeat;
    background-size: contain;
    width: 26px;
    height: 34px;
    top: 5px;
  }

  #bottom-nav li.live::before {
    background: url("/img/live.svg") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    top: 5px;
  }

  #bottom-nav li.guidance::before {
    background: url("/img/questionMark.svg") no-repeat;
    background-size: contain;
    width: 18px;
    height: 40px;
    top: 0px;
  }

  #bottom-nav li.language::before {
    background: url("/img/language.svg") no-repeat;
    background-size: contain;
    width: 30px;
    height: 36px;
    top: 1px;
  }

  #bottom-nav span.fold-button {
    background: url("/img/foldButton.svg") no-repeat;
    background-size: contain;
    width: 26px;
    height: 60px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2000;
  }

  #bottom-nav.close {
    transform: translateX(105%);
  }

  #bottom-nav .board-wrapper {
    height: 85vh;
    width: 400vw;
    display: flex;
    background-color: #FFF;
    position: absolute;
    bottom: -85vh;
  }

  #bottom-nav .board-wrapper.open {
    bottom: 0;
  }

  #bottom-nav .board-wrapper section {
    width: 100vw;
  }
}