:root {
  --color-font: #454E53;
  --color-lightgray: #F9FAFA;
  --color-gray: #F2F2F2;
  --color-lightblue: #E9F5FA;
  --color-articletype-article: #B0D8E4;
  --color-articletype-movie: #AFD7AA;
  --color-articletype-live: #E2AFBF;
  --color-articletype-article-light: #E9F5FA;
  --color-articletype-movie-light: #E9FAEA;
  --color-articletype-live-light: #FAE9E9;

  --font-size-small: 14px;
  --font-size-normal: 16px;
}

body {
  margin: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'Noto Sans JP', sans-serif;
  font-size: var(--font-size-normal);
  line-height: 2rem;
  color: var(--color-font);
  background: var(--color-lightgray);
  display: grid;
  grid-template-rows: 600px auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
      "header header"
      "video video"
      "main nav"
      "aside nav"
      ;
}

#title-header {
  grid-area: header;
  position: relative;
  background: linear-gradient(to right, #E9F5FA, #F8FAE9);
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  grid-area: main;
  width: 960px;
  background-color: var(--color-lightgray);
  margin: 0 0 60px auto;
}

nav {
  grid-area: nav;
  width: 400px;
  margin: 0 auto 0 20px;
}

article {
  grid-area: main;
  background-color: #FFF;
  margin-bottom: 60px;
}

.group-desc {
  grid-area: main;
  background-color: #FFF;
  padding: 30px 0;
}

aside {
  grid-area: aside;
  width: 960px;
  margin-left: auto;
  padding: 30px 0;
  background-color: #FFF;
}

.iframe-wrapper {
  grid-area: video;
  position: relative;
  width: 960px;
  margin: 0 auto 60px;
}
.iframe-wrapper:before {
  content:"";
  display: block;
  padding-top: calc(100%/16*9);
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article .iframe-wrapper {
  width: calc(100% - 160px);
  margin: 30px auto 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 30px 80px 0;
  text-align: justify;
}

article img {
  width: calc(100% - 160px);
  margin: 30px 80px 0;
}

h2 {
  background-color: var(--color-lightblue);
  padding: 10px 80px;
  margin: 60px 0 0;
  font-size: 22px;
  line-height: calc(22px*1.6);
  font-weight: normal;
}

article section.article h2:first-of-type {
  margin-top: 30px;
}

h3 {
  border-left: 20px solid var(--color-lightblue);
  padding: 10px 80px 10px 60px;
  margin: 30px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(18px*1.6);
}

aside h2 {
  background-color: #FDFAE1;
  margin:10px 0 15px 0;
}

aside h3 {
  border-left: 20px solid #FDFAE1;
}

h4 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

small {
  font-size: 14px;
}

button:focus {
  outline: 0;
}

.caption {
  font-size: var(--font-size-small);
  text-align: center;
  margin: 0 80px;
}

ul.pagination {
  display: flex;
  margin: 30px auto 0;
  padding-bottom: 60px;
  list-style-type: none;
  justify-content: center;
}

ul.pagination li {
  width: 36px;
  height: 36px;
  margin: 0 9px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: var(--color-font);
  border: 1px solid var(--color-font);
  cursor: pointer;
  transition: 0.4s;
}

ul.pagination li:hover {
  background-color: var(--color-lightgray);
}

#title-header .title-wrapper {
  max-width: 1000px;
  margin: 0 20px;
  color: var(--color-font);
  padding: 0 10px;
  z-index: 1000;
}

#title-header .title-wrapper > span {
  width: 95px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .15);
}

#title-header .title-wrapper h1 {
  font-size: 32px;
  line-height: calc(32px*1.6);
  font-weight: normal;
  margin: 20px 0 10px 0;
}

#title-header .title-wrapper p {
  max-width: 550px;
  margin: 0;
}

#index {
  font-weight: bold;
  padding: 30px 0;
  position: sticky;
  top: 80px;
  background-color: #FFF;
}

#index h4 {
  text-align: center;
  font-size: var(--font-size-normal);
  font-weight: bold;
  margin: 0 0 30px;
}

#index a {
  color: var(--color-font);
  height: 35px;
  line-height: 35px;
  transition: 200ms;
  display: block;
}

#index a:hover {
  background-color: var(--color-lightblue);
}

#index ul li a {
  padding: 0 30px;
}

#index ul li ul li a {
  padding: 0 30px 0 50px;
  font-weight: normal;
}

nav ul a.inView {
  background-color: var(--color-lightblue);
  color: #FFF;
  font-weight: bold;
}

aside section {
  padding: 15px 0;
  transition: 0.4s;
}

aside p {
  margin: 20px 80px 15px;
  height: 6rem;
  /* 3行以上は省略 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

aside a {
  color: var(--color-font);
  transition: 0.4s;
}

aside a:hover {
  box-shadow: 0px 4px 4px -4px #bfbfbf;
  position: relative;
}
aside a:hover section {
  box-shadow: 0px -4px 4px -4px #bfbfbf;
}

aside a:nth-child(odd) {
  background-color: var(--color-lightgray);
}

aside a:nth-child(odd) .article-type {
  background-color: #FFF;
}

aside .other-event-title {
  display: flex;
  align-items: center;
  padding-right: 80px;
}

aside .other-event-title h3 {
  display: inline-block;
  margin: 0 auto 0 0;
}

aside .other-event-title .article-type {
  display: inline-block;
  width: 75px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--color-lightgray);
}

aside .other-event-title .time {
  margin-left: 30px;
  width: 105px;
  text-align: right;
}

aside .other-event-title .type-article {
  color: var(--color-articletype-article);
}

aside .other-event-title .type-movie {
  color: var(--color-articletype-movie);
}

aside .other-event-title .type-live {
  color: var(--color-articletype-live);
}

aside .more {
  text-align: center;
  margin-top: 30px;
}

aside .more button {
  padding: 10px 20px;
  background-color: var(--color-lightgray);
  transition: 0.4s;
}

aside .more button:hover {
  background-color: #f0f0f0;
}

nav #nav-pagination a {
  padding: 5px 15px;
  background-color: var(--color-lightgray);
  transition: 0.4s;
}

nav #nav-pagination a:hover {
  background-color: #f0f0f0;
}

nav #nav-pagination {
  margin-top: 30px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

#title-header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(/img/magicHour.svg) no-repeat center;
  z-index: 100;
  background-size: contain;
  opacity: 50%;
}

#title-header .supplementary-info {
  display: flex;
  margin-top: 20px;
}

#title-header .supplementary-info .target {
  font-size: 13px;
  background-color: #FFF;
  border-radius: 30px;
  padding: 2px 10px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .15);
}

#title-header .supplementary-info span {
  position: relative;
}

#title-header .supplementary-info span:not(:first-child) {
  margin-left: 70px;
}

#title-header .supplementary-info span.first-span {
  margin-left: 35px;
}

#title-header .supplementary-info .event-view::before {
  content: "";
  background: url("/img/iconset.svg");
  background-size: 180px 120px;
  background-position: -120px -30px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -35px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, .15));
}

#title-header .supplementary-info .event-thumbsup::before {
  content: "";
  background: url("/img/iconset.svg");
  background-size: 180px 120px;
  background-position: -90px -30px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -2px;
  left: -35px;
  transform: scale(.8);
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, .15));
}

.type-article-light {
  background-color: var(--color-articletype-article-light);
}

.type-live-light {
  background-color: var(--color-articletype-live-light);
}

.type-movie-light {
  background-color: var(--color-articletype-movie-light);
}

.group-desc h2 {
  margin-top: 10px;
}

.group-desc .group-link {
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;
  margin-top: 10px;
}

.group-desc .group-link a {
  padding: 5px 15px 5px 12px;
  border: 1px solid var(--color-font);
  border-radius: 5px;
  margin: 20px 20px 0 0;
  font-size: 14px;
  transition: 0.4s;
}

.group-desc .group-link a:hover {
  background-color: var(--color-lightgray);
}

.group-desc .group-link .link-web::before,
.group-desc .group-link .link-twitter::before,
.group-desc .group-link .link-facebook::before,
.group-desc .group-link .link-instagram::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: top;
  transform: scale(0.85);
}

.group-desc .group-link .link-web::before {
  background: url("/img/iconset.svg") no-repeat;
  background-size: 180px 120px;
  background-position: 0px 0px;
}

.group-desc .group-link .link-twitter::before {
  background: url("/img/iconset.svg") no-repeat;
  background-size: 180px 120px;
  background-position: -30px 0px;
}

.group-desc .group-link .link-facebook::before {
  background: url("/img/iconset.svg") no-repeat;
  background-size: 180px 120px;
  background-position: -60px 0px;
}

.group-desc .group-link .link-instagram::before {
  background: url("/img/iconset.svg") no-repeat;
  background-size: 180px 120px;
  background-position: -90px 0px;
}

article .bar {
  height: 50px;
  background-color: var(--color-gray);
  padding: 0 20px;
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px -2px#454E53;
  position: relative;
}

article .bar span {
  display: inline-block;
  margin-right: auto;
  font-weight: 500;
}

article .bar button {
  padding: 1px 10px 0 7px;
  height: 33px;
  line-height: 30px;
  background-color: #FFF;
  border-radius: 3px;
  margin-left: 10px;
  color: inherit;
  transition: 0.4s;
}

article .bar button:hover {
  background: var(--color-lightgray);
}

article .bar button.thumbs-up::before,
article .bar button.pin::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
}

article .bar button.thumbs-up::before {
  width: 30px;
  height: 30px;
  background: url("/img/iconSet.svg") no-repeat;
  background-position: -60px -32px;
  background-size: 180px 120px;
  vertical-align: middle;
  transform: scale(0.85);
}

article .bar button.pin::before {
  width: 30px;
  height: 30px;
  background: url("/img/iconSet.svg") no-repeat;
  background-position: 0px -30px;
  background-size: 180px 120px;
  vertical-align: middle;
}

article .bar button.thumbs-up-clicked,
article .bar button.pin-clicked {
  background-color: #3BA2E7;
  color: white;
  font-weight: bold;
}

article .bar button.thumbs-up-clicked::before {
  background-position: -90px -32px;
}

article .bar button.pin-clicked::before {
  background-position: -150px -30px;
}

article section:not(.article) {
  padding: 30px 80px;
  background: var(--color-gray);
}

article section:not(.article) h2 {
  background: none;
  padding: 0;
  margin-top: 0;
}

article section:not(.article) p {
  margin: 0;
}

article section .file p {
  font-size: var(--font-size-small);
}

article section.zoom {
  display: flex;
  flex-wrap: wrap;
}

article section.zoom h2 {
  flex-basis: 100%;
}

article section.zoom small {
  flex-basis: 100%;
}

article section.zoom a {
  background: #FFF;
  padding: 2px 10px;
  border-radius: 3px;
  margin: 10px 20px 0 0;
  transition: 0.4s;
}

article section.zoom a:hover {
  background: var(--color-lightgray);
}

article .file-wrapper {
  font-size: var(--font-size-small);
  background-color: var(--color-gray);
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  margin: 30px 0 0 80px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  line-height: 24px;
}

article .file-wrapper a {
  margin-left: auto;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  background-color: #FFF;
  min-width: 84px;
  transition: 0.4s;
}

article .file-wrapper a:hover {
  background-color: var(--color-lightgray);
}

article .file-wrapper p {
  margin: 0;
}

article .file-wrapper p:first-child {
  font-weight: bold;
}

article .file-wrapper p:nth-child(2) {
  margin-right: 20px;
}

article .file {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

article .file h2 {
  flex-basis: 100%;
  margin-bottom: 20px;
}

article .file .file-wrapper {
  background-color: #FFF;
  margin: 0;
  margin: 10px 0 0 0;
}

article .file .file-wrapper a {
  background-color: var(--color-gray);
}

article .file .file-wrapper a:hover {
  background-color: var(--color-lightgray);
}

article .quiz section {
  padding: 0;
}
/*
article .quiz section:not(:last-child) {
  border-bottom: 1px solid #E4E4E4;
}
*/
article .quiz section {
  counter-increment: quiz-number 1;
}

article .quiz section h4 {
  margin: 30px 0 0;
}

article .quiz section h4::before {
  content: "Q" counter(quiz-number) ". ";
  font-size: 20px;
  font-weight: 500;
}

article .quiz ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 660px;
  margin: 0 auto 30px;
  position: relative;
}

article .quiz li {
  width: 200px;
  margin-top: 20px;
  padding: 5px 60px;
  background-color: #FFF;
  border-radius: 10px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

article .quiz li:hover {
  background-color: var(--color-lightgray);
}

article .quiz li.correct {
  background-color: #21C310;
  color: #FFF;
  font-weight: bold;
  position: relative;
}

article .quiz li.correct::before {
  content: "";
  background: url("/img/iconset.svg");
  background-position: -120px 0px;
  background-size: 180px 120px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transform: scale(0.8);
}

article .quiz li.incorrect {
  background-color: #FF6060;
  color: #FFF;
  font-weight: bold;
  position: relative;
}

article .quiz li.incorrect::before {
  content: "";
  background: url("/img/iconset.svg");
  background-position: -150px 0px;
  background-size: 180px 120px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 30px;
  transform: scale(0.6);
}

article .quiz div {
  margin: 0 -80px;
  background-color: var(--color-lightgray);
  height: 0;
  padding: 0 80px;
  overflow: hidden;
  border-top: 1px solid #E4E4E4;
  border-bottom: 0px solid #E4E4E4;
  transition: 0.8s;
  box-sizing: border-box;
}

article .quiz div.commentary-open {
  border-bottom: 1px solid #E4E4E4;
  padding: 20px 80px;
}

article .quiz div span:last-of-type {
  margin-left: 10px;
  font-size: 20px;
}

article .quiz div p {
  margin-top: 10px;
}

article .quiz ul.open::before {
  content: url("/img/triangle.svg");
  position: absolute;
  bottom: -42.5px;
  left: 50%;
  transform: translateX(-50%) scaleY(0.7);
}

/* 2カラムレイアウトの横幅1380px + 左右余白40px */
@media screen and (max-width: 1420px) {
  body {
    grid-template-rows: 600px auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "video"
        "main"
        "aside"
        ;
  }

  nav, main, aside, .iframe-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    /*
    width: 960px;
    margin-bottom: 60px;
    */
    display: none;
  }
}

/* 記事幅960px + 左右余白40px */
@media screen and (max-width: 1000px) {
  nav, main, aside, .iframe-wrapper {
    width: calc(100% - 40px);
  }

  #title-header .title-wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  body {
    grid-template-rows: 500px auto auto auto;
    line-height: 1.8rem;
  }

  nav, main, aside, .iframe-wrapper {
    width: 100%;
  }

  article .iframe-wrapper {
    width: 100%;
  }

  #title-header, main, article, nav {
    margin-bottom: 30px;
  }

  h2 {
    padding: 10px 30px;
    margin: 30px 0 0;
  }

  h3 {
    border-left: 10px solid var(--color-lightblue);
    padding: 10px 20px;
    margin: 15px 0 0;
  }

  p {
    margin: 15px 10px 0;
  }

  article img {
    width: 100%;
    margin: 30px 0 0;
  }

  article section:not(.article) {
    padding: 30px 10px;
  }

  article .bar button {
    width: 40px;
    overflow: hidden;
  }

  article .file-wrapper {
    margin: 15px 0 0 10px;
    width: calc(100% - 60px);
    max-width: calc(100% - 60px);
  }

  article .file .file-wrapper {
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
  }

  article .quiz ul {
    justify-content: center;
  }

  article .quiz li {
    width: 100%;
    max-width: 230px;
  }

  article .quiz section {
    padding: 0;
  }

  article .quiz div {
    margin: 0 -10px;
    padding: 0 10px;
  }

  article .quiz div.commentary-open {
    padding: 20px 10px;
  }

  article .quiz li {
    line-height: 2rem;
  }

  #title-header .title-wrapper h1 {
    font-size: 26px;
    line-height: calc(26px*1.6);
    font-weight: normal;
  }

  #title-header .supplementary-info span:not(:first-child) {
    margin-left: 50px;
  }

  aside h3 {
    border-left: 10px solid #FDFAE1;
  }

  aside p {
    margin: 10px 10px 15px;
    height: 5.4rem;
  }

  aside .other-event-title {
    flex-wrap: wrap;
    padding-right: 0;
  }

  aside .other-event-title h3 {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  aside .other-event-title .article-type {
    margin-left: 30px;
  }

  aside .other-event-title .time {
    margin-left: 10px;
    width: auto;
  }

  .caption {
    margin: 0 10px;
  }

  .group-desc .group-link {
    padding: 0 10px;
  }

  .group-desc .group-link a {
    padding: 5px 10px;
    margin: 10px 10px 0 0;
  }

  .iframe-wrapper {
    margin-bottom: 30px;
  }
}