body {
  margin: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #454E53;

  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "event"
    "about"
    "other"
    "support"
    "footer";
}

#header {
  grid-area: header;
  position: relative;
  height: 100vh;
  min-height: 900px;
  background-color: aqua; /* デバッグ用 */
}

#header-event-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(20vw * 3 / 4.3);
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

#event {
  grid-area: event;
  background-color: #243D7D;
  display: grid;
  grid-template-rows: 80px 100px 80px auto 80px;
}

#about {
  grid-area: about;
  background-color: #243D7D;
  display: grid;
  grid-template-rows: 50px auto 1fr auto 1fr 50px 50px 80px;
}

#other {
  grid-area: other;
  background-color: #A3D4DC;
  display: grid;
  grid-template-rows: 100px auto 100px;
}

#support {
  grid-area: support;
  background-color: #fff;
  display: grid;
  grid-template-rows: 100px auto 100px;
}

#footer {
  grid-area: footer;
  height: 400px; /* デバッグ */
  background-color: #243D7D;
}