body {
  margin: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #454E53;

  display: grid;
  grid-template-rows: auto 100px auto 100px auto auto;
  grid-template-areas:
    "header"
    "."
    "main"
    "."
    "otherEvents"
    "footer";
}