@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-in-grid {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: grid;
    opacity: 0;
  }

  100% {
    display: grid;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
    
body {
  margin: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #454E53;

  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "topView"
    "main"
    "other"
    "support"
    "footer";
}

#header {
  display: grid;
  grid-template-rows: 30px 55px 30px;
  grid-template-columns: 30px 1fr auto 30px 30px 30px;
  grid-template-areas: 
  ". . . . . ."
  ". logo language . menuBtn ."
  ". . . . . .";
  position: fixed;
  top: 0;
  background: transparent;
  color: #fff;
  width: 100%;
  z-index: 99;
  pointer-events: none;
}

#header #headerLogo {
  grid-area: logo;
}

#header #headerLogo > img.icon {
  height: 55px;
  pointer-events: all;
}

#header #headerLogo > img.text {
  height: 50px;
  margin-left: 10px;
  pointer-events: all;
}

#header #headerLanguage {
  grid-area: language;
  line-height: 55px;
  pointer-events: all;
}

#header #headerMenuBtn {
  grid-area: menuBtn;
  pointer-events: all;
}

#topView {
  grid-area: topView;
  position: relative;
  height: 100vh;
  min-height: 900px;
  background: url(../img/top-background.png) no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

#topView > #themeText {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#topView > #themeText > img {
  width: 300px;
}

#topView-event-bar {
  position: absolute;
  bottom: 0;
  display: flex;
}

#topView-event-bar > a{
  text-decoration: none;
}

#topView-event-bar > a > .topView-event-tile {
  position: relative;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 20vw;
  height: calc(20vw * 3 / 4.3);
  border-left: rgba(112, 112, 112, 0.2) solid 1px;
  border-right: rgba(112, 112, 112, 0.2) solid 1px;
  color: #fff;
  font-weight: 500;
  display: grid;

  grid-template-areas: ". . . ."
  ". type time ."
  ". title title ."
  ". . . .";
  grid-template-columns: 15% 90px calc(70% - 90px) 15%;
  grid-template-rows: 20% 1fr 100px 20%;
  transition: 200ms;
}

#topView-event-bar > a > .topView-event-tile:hover {
  bottom: 10px;
}

#topView-event-bar > a > .topView-event-tile.article:hover {
  box-shadow: 0px 10px #A3D4DC;
}

#topView-event-bar > a > .topView-event-tile.movie:hover {
  box-shadow: 0px 10px #E2AFBF;
}

#topView-event-bar > a > .topView-event-tile.live:hover {
  box-shadow: 0px 10px #AFD7AA;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container {
  grid-area: type;
  line-height: 30px;
  position: relative;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type {
  position: relative;
  display: inline-block;
  border-left: 8px solid currentColor;
  background-color: #fff;
  height: 30px;
  width: 70px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 70px;
  text-align: center;
  font-size: 16px;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.article {
  color: #B0D8E4;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.article::after {
  content: 'Article';
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.movie {
  color: #E2AFBF;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.movie::after {
  content: 'Movie';
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.live {
  color: #AFD7AA;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.live::after {
  content: 'Live';
}

#topView-event-bar > a > .topView-event-tile > .topView-event-time {
  grid-area: time;
  font-size: 16px;
  text-align: right;
}

#topView-event-bar > a > .topView-event-tile > .topView-event-title {
  grid-area: title;
  font-size: 22px;
}

#main {
  grid-area: main;
  background: linear-gradient(#1A2D63, #0D163B);
  color: #fff;
}

#event {
  display: grid;
  grid-template-rows: 80px auto 80px;
}

#eventH3 {
  grid-row: 1;
  grid-column: 1 / -1;
  height: 100%;
  text-align: center;
}

#eventH3 > div {
  position: relative;
  display: inline-block;
  height: 100px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  width: 400px;
  z-index: 10;
  border-left: transparent solid 6px;
  border-right: transparent solid 6px;
  color: #A3D4DC;
  background: #243D7D;
  line-height: 100px;
}

#eventH3 > div::before, #eventH3 > div::after {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  box-shadow: 0 0 10px #fff;
  z-index: 20;
  content: '';
}

#eventH3 > div::before {
  left: -4px;
  background: linear-gradient(to right, #A3D4DC 66%, #fff 67%);
}

#eventH3 > div::after {
  right: -4px;
  background: linear-gradient(to left, #A3D4DC 66%, #fff 67%);
}

#event > #eventContainer {
  grid-row: 2;
  grid-template-columns: 20% 60% 20%;
  display: grid;
  grid-template-rows: 100px 80px 110px 30px auto;
}

#eventTypeTab {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  /*height: 100%;*/
  grid-template-columns: 16% 16% 16% 52%;
  /*grid-template-columns: 20% 20% 20% 40%;*/
  border-bottom: 2px #A1A8BC solid;
}

#eventTypeTab > a:nth-child(1) {
  grid-column: 1;
}

#eventTypeTab > a:nth-child(2) {
  grid-column: 2;
}

#eventTypeTab > a:nth-child(3) {
  grid-column: 3;
}

#eventTypeTab > a {
  display: block;
  text-decoration: none;
  position: relative;
  border-bottom: 9px solid transparent; /* 微妙 */
  font-weight: bold;
  color: #A1A8BC;
  padding-left: 30px;
  transition: 200ms;
}

#eventTypeTab > a.active {
  border-bottom: 9px solid #A3D4DC;
  color: #A3D4DC;
  background: linear-gradient(rgba(36, 61, 125, 0), rgba(36, 61, 125, 1));
}

#eventTypeTab > a > div {
  position: absolute;
  bottom: 5px;
}

#eventTypeTab > a > div > div:nth-child(1) {
  font-size: 26px;
}

#eventTypeTab > a > div > div:nth-child(2) {
  font-size: 16px;
}

#eventList {
  grid-row: 5;
  grid-column: 1 / -1;
  grid-column: 1 / -1;
}

#eventList a {
  text-decoration: none;
  color: #fff;
}

#eventList .eventTile {
  display: grid;
  grid-template-rows: 15px 30px 0px 0px 15px;
  grid-template-columns: 20% 30px calc(30% - 30px) calc(7.5% - 15px) calc(7.5% - 15px) 30px 30px calc(7.5% - 30px) calc(7.5% - 30px) 30px 20%;
  grid-template-areas: ". . . . . . . . . . ."
  ". . title time child . . view thumb . ."
  ". . . . . . . . . . ."
  ". . desc desc desc . . group group . ."
  ". . . . . . . . . . .";
  transition: 250ms;
  font-size: 16px;
  line-height: 30px;
  height: 60px;
  opacity: 0.8;
  overflow: hidden;
}

#eventList .eventTile.active {
  position: relative;
  grid-template-rows: 30px 30px 30px 90px 30px;
  height: 210px;
  /*background: linear-gradient(to right, rgba(36, 61, 125, 0), rgba(36, 61, 125, 1));*/
  background: #243D7D;
  z-index: 20;
  opacity: 1;
}

/*#eventList .eventTile.active::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(36, 61, 125, 0), rgba(36, 61, 125, 1));
}*/

#eventList .eventTile > .eventTitle {
  grid-area: title;
  font-weight: bold;
  font-size: 18px;
}

#eventList .eventTile > .eventTitle::before {
  visibility: hidden;
  margin: 3px 0;
  height: 24px;
  background: url('../img/activeArrow.svg') no-repeat;
  display: inline-block;
  content: '';
  width: 100px;
  margin-left: -100px;
  background-size: contain;
  vertical-align: bottom;
  transition: 200ms;
  opacity: 0;
}

#eventList .eventTile.active > .eventTitle::before {
  margin-left: -80px;
  width: 80px;
  visibility: visible;
  opacity: 1;
}

#eventList .eventTile > .eventTime {
  grid-area: time;
  font-weight: bold;
  text-align: center;
}

#eventList .eventTile > .eventChild {
  grid-area: child;
  font-weight: bold;
  text-align: center;
}

#eventList .eventTile > .eventChild > div {
  display: inline-block;
  height: 30px;
  width: 100px;
  background: #fff;
  border-radius: 15px;
  color: #243D7D;
}

#eventList .eventTile > .eventDesc {
  visibility: hidden;
  opacity: 0;
  /*transition: 200ms;*/
  grid-area: desc;
}

#eventList .eventTile.active > .eventDesc {
  visibility: visible;
  opacity: 1;
}

#eventList .eventTile > .eventView {
  visibility: hidden;
  opacity: 0;
  /*transition: 200ms;*/
  grid-area: view;
}

#eventList .eventTile > .eventView::before {
  margin: 7px 0;
  height: 16px;
  background: url('../img/eye.svg') no-repeat;
  display: inline-block;
  content: '';
  width: 40px;
  background-size: contain;
  vertical-align: bottom;
}

#eventList .eventTile.active > .eventView {
  visibility: visible;
  opacity: 1;
}

#eventList .eventTile > .eventThumbsUp {
  visibility: hidden;
  opacity: 0;
  /*transition: 200ms;*/
  grid-area: thumb;
}

#eventList .eventTile > .eventThumbsUp::before {
  margin: 5px 0;
  height: 20px;
  background: url('../img/thumbsUp.svg') no-repeat;
  display: inline-block;
  content: '';
  width: 30px;
  background-size: contain;
  vertical-align: bottom;
}

#eventList .eventTile.active > .eventThumbsUp {
  visibility: visible;
  opacity: 1;
}

#eventList .eventTile > .eventGroupName {
  visibility: hidden;
  opacity: 0;
  /*transition: 200ms;*/
  grid-area: group;
}

#eventList .eventTile.active > .eventGroupName {
  visibility: visible;
  opacity: 1;
}

/* タイプ選択 */
.eventTypePage {
  display: none;
  text-align: center;
}

.eventTypePage > div {
  text-align: left;
}

.eventTypePage.active {
  display: block;
  animation: 0.2s fade-in;
}

/* ページネーション */
#eventList .eventListPage {
  display: none;
  text-align: center;
}

#eventList .eventListPage .eventTile {
  text-align: left;
}

#eventList .eventListPage.active {
  display: block;
  animation: 0.2s fade-in;
  height: 570px;
}

/* ページネーションボタン */
#eventList .foot {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#eventList .foot > div {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  position: relative;
}

#eventList .foot > div > .pagination {
  display: inline-block;
}

#eventList .foot > div > .pagination > a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
  margin: 0 9px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  transition: 200ms;
  text-decoration: none;
}

#eventList .foot > div > .pagination > a.active {
  background: #fff;
  color: #243D7D;
}

#eventList .foot > div > a.timetable {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 5px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

#eventList a.more {
  display: none;
}

#timetable-mb {
  display: none;
}

#about {
  display: grid;
  grid-template-rows: auto 80px;
  grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}

/*#about > div.about-bg {
  grid-column: 2 / 4;
  grid-row: 1 / -2;
  z-index: 2;
  position: relative;
  background: linear-gradient();
}*/

#about > div.about-tile {
  text-align: center;
  grid-row: 1;
  display: grid;
  /*grid-template-rows: 50px auto 1fr auto 1fr 50px 50px;*/
  grid-template-rows: 50px auto 30px auto 30px 50px 50px;
}

#about > div.about-tile:nth-child(1) {
  grid-column: 2;
  background: linear-gradient(to right, rgba(36, 61, 125, 0), rgba(36, 61, 125, 1) 90%);
  border-right: #A3D4DC solid 4px;
}

#about > div.about-tile:nth-child(2) {
  position: relative;
  grid-column: 3;
  background-color: #243D7D;
  border-left: #FFF solid 2px;
  border-right: #A3D4DC solid 4px;
}

#about > div.about-tile:nth-child(2)::before, #about > div.about-tile:nth-child(2)::after {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  box-shadow: 0 0 10px #fff;
  z-index: 20;
  content: '';
}

#about > div.about-tile:nth-child(2)::before {
  left: -6px;
}

#about > div.about-tile:nth-child(2)::after {
  right: -6px;
}

#about > div.about-tile:nth-child(3) {
  grid-column: 4;
  background: linear-gradient(to left, rgba(36, 61, 125, 0), rgba(36, 61, 125, 1) 90%);
  border-left: #FFF solid 2px;
}

#about > div.about-tile > div:nth-child(1) {
  grid-row: 2;
  color: #A3D4DC;
  font-size: 30px;
}

#about > div.about-tile > div:nth-child(2) {
  grid-row: 4;
  color: #FFF;
  font-size: 18px;
}

#about > div.about-tile > div:nth-child(3) {
  grid-row: 6;
}

#about > div.about-tile img.about-logo {
  width: 250px;
}

a.detailButton {
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  transition: 200ms ease-in-out;
  overflow: hidden;
  z-index: 10;
  text-align: center;
}

a.detailButton::before {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -450px;
  top: -100px;
  content: '';
  transform: rotate(45deg);
  transition: 200ms ease-in-out;
  z-index: -1;
}

a.detailButton:hover::before {
  left: -250px;
  transform: rotate(45deg);
}

#about a.detailButton {
  border: 3px solid #A3D4DC;
  color: #fff;
}

#about a.detailButton:hover {
  color: #1A2D63;
}

#about a.detailButton::before {
  background: #A3D4DC;
}

#other {
  grid-area: other;
  background-color: #A3D4DC;
  display: grid;
  grid-template-rows: 100px auto 100px auto 100px;
  grid-template-areas: 
  "."
  "app"
  "."
  "collaboration"
  ".";
  color: #243D7D;
}

#other h3 {
  font-weight: 500;
  font-size: 30px;
}

#other #app {
  grid-area: app;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-areas: ". appContainer appImg .";
}

#other #app #appContainer {
  grid-area: appContainer;
}

#other #app #appImg {
  grid-area: appImg;
}

#other #collaboration {
  grid-area: collaboration;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-areas: ". collaboContainer collaboImg .";
}

#other #collaboration #collaboContainer {
  grid-area: collaboContainer;
}

#other #collaboration #collaboImg {
  grid-area: collaboImg;
}

#other a.detailButton {
  border: 3px solid #fff;
  color: #fff;
}

#other a.detailButton:hover {
  color: #243D7D;
}

#other a.detailButton::before {
  background: #fff;
}

#support {
  grid-area: support;
  background-color: #fff;
  text-align: center;
  color: #243D7D;
}

#support > h3 {
  font-weight: 500;
  font-size: 30px;
}

/* バナー */
#banner {
  padding: 0 1em;
  max-width: 940px;
  display: inline-block;
}
#goldBanner, #silverBanner {

  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
}
#goldBanner {
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: 1fr 60px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  margin: 60px 0;
}
#silverBanner {
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 1fr 60px 1fr 60px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  margin: 60px 0;
}
#goldBanner > a, #silverBanner > a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #fff;
  font-size: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
  padding: 10px;
}
#goldBanner > a {
  height: calc(127px - 22px);
}
#silverBanner > a {
  height: calc(101px - 22px);
}
#goldBanner > a > img {
  width: 100%;
  max-width: 440px;
  object-fit: contain;
}
#silverBanner > a > img {
  width: 100%;
  max-width: 280px;
  object-fit: contain;
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 768px) {
  #goldBanner > a, #silverBanner > a {
    padding: 5px;
  }
}
@media screen and (max-width: 576px) {
  #goldBanner {
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-row-gap: 20px;
  }
  #silverBanner {
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-row-gap: 20px;
  }
  #goldBanner > a {
    height: calc(68px - 12px);
  }
  #silverBanner > a {
    height: calc(48px - 12px);
  }
}
@media screen and (max-width: 330px) {
  #goldBanner {
    grid-column-gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-row-gap: 10px;
  }
  #silverBanner {
    grid-column-gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-row-gap: 10px;
  }
}

footer {
  grid-area: footer;
  display: grid;
  background-color: #243D7D;
  color: #fff;
  grid-template-rows: 80px auto 30px auto 30px auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  ". ."
  "logo logo"
  ". ."
  "sitemap no1"
  ". ."
  "sns sns"
  "copyright copyright";
  text-align: center;
}

footer #footerLogo {
  grid-area: logo;
}

footer #footerLogo > img.icon, footer #footerLogo > img.text {
  width: 150px;
}

footer #footerSiteMap {
  grid-area: sitemap;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 10% 27% 27% 26% 10%;
  border-right: solid 1px #fff;
}

footer #footerSiteMap > div {
  text-align: left;
}

footer #footerSiteMap > div > a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #fff;
}

footer #footerSiteMap > div:nth-child(1) {
  grid-column: 2;
}

footer #footerSiteMap > div:nth-child(2) {
  grid-column: 3;
}

footer #footerSiteMap > div:nth-child(3) {
  grid-column: 4;
}

footer #footerCopyright {
  grid-area: copyright;
  font-size: 14px;
}

footer #sns-btn {
  grid-area: sns;
  text-align: center;
}

/* PC全般（今後整理） */

@media screen and (min-width: 993px) {

}

/* PC小画面 */
@media screen and (max-width: 1600px) {
  #topView {
    min-height: 558px;
  }

  #topView-event-bar > a > .topView-event-tile {
    width: 25vw;
    height: calc(25vw * 3 / 4.3);
  }
}

/* ここからスマホ */

@media screen and (max-width: 992px) {
  body {
    line-height: 28px;
  }

  #header #headerLogo {
    grid-template-rows: 20px 30px 20px;
    grid-template-columns: 10px calc(1fr - 30px) 30px 10px;
    grid-template-areas: 
    ". . . ."
    ". logo menuBtn ."
    ". . . .";
  }

  #header #headerLogo > img.icon {
    height: 30px;
  }
  
  #header #headerLogo > img.text {
    height: 30px;
  }
  
  #header #headerLanguage {
    display: none;
  }

  #topView > #themeText {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 16px;
  }
  
  #topView > #themeText > img {
    height: 40px;
    width: auto;
  }

  #topView-event-bar > a > .topView-event-tile {
    width: 140px;
    height: 185px;
    bottom: 10px;
    margin: 0 5px;

    grid-template-areas: ". . ."
    "type type ."
    ". title ."
    ". time ."
    ". . .";
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 15px 25px 105px 25px 15px;
    transition: 200ms;
  }

  #topView-event-bar > a > .topView-event-tile:hover {
    box-shadow: none!important;
    bottom: 10px;
  }

  #topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type {
    height: 25px;
    width: 60px;
  }

  #topView-event-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type::after {
    width: 60px;
    line-height: 25px;
    font-size: 14px;
  }

  #topView-event-bar > a > .topView-event-tile > .topView-event-time {
    font-size: 14px;
  }

  #topView-event-bar > a > .topView-event-tile > .topView-event-title {
    font-size: 16px;
  }

  #event {
    grid-template-rows: 40px auto 30px;
  }

  #event > #eventContainer {
    grid-template-rows: 70px 40px 30px 20px auto 30px 60px 30px;
  }

  #eventH3 > div {
    width: 250px;
    font-size: 22px;
    height: 70px;
    line-height: 70px;
  }
  #eventH3 > div::before, #eventH3 > div::after {
    height: 70px;
  }

  #eventTypeTab {
    border: none;
    display: block;
    text-align: center;
    grid-column: 1 / -1;
  }

  #eventTypeTab > a {
    border: none!important;
    padding: 0;
    margin: 0 10px;
    display: inline-block;
  }

  #eventTypeTab > a.active {
    background: transparent;
  }

  #eventTypeTab > a > div {
    position: relative;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: #A1A8BC;
    color: #121F4A;
  }

  #eventTypeTab > a > div > div:nth-child(1) {
    display: none;
  }

  #eventTypeTab > a > div > div:nth-child(2) {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    text-align: center;
  }

  #eventTypeTab > a.active > div {
    background-color: #A3D4DC;
  }

  #eventList .eventListPage {
    display: block;
  }
  
  #eventList .eventListPage.active {
    height: auto;
  }
  /* PC版のactiveとの競合 */
  #eventList .eventTile,  #eventList .eventTile.active {
    position: relative;
    grid-template-rows: 50px 10px 40px 90px 10px;
    margin: 20px 10px;
    grid-template-columns: 10px 70px 70px 1fr 100px 10px;
    grid-template-areas: "title title title title title title"
    ". . . . . ."
    ". view thumb time child ."
    ". desc desc desc desc ."
    ". . . . . .";
    height: 200px;
    background: #243D7D;
    border-radius: 5px;
    z-index: 20;
    opacity: 1;
    font-size: 14px;
  }

  #eventList .eventTile {
    display: none;
  }

  #eventList .eventTile.mb-active {
    display: grid;
    animation: 0.2s fade-in-grid;
  }

  #eventList .eventTile > .eventDesc, #eventList .eventTile > .eventView, #eventList .eventTile > .eventThumbsUp {
    visibility: visible;
    opacity: 1;
  }

  #eventList .eventTile > .eventGroupName {
    display: none;
  }

  #eventList .eventTile > .eventDesc {
    font-size: 16px;
    overflow: hidden;
  }
  
  #eventList .eventTile > .eventTitle {
    line-height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #0D163B;
  }

  #eventList .eventTile > .eventChild > div {
    width: 90px;
    height: 25px;
    border-radius: 12.5px;
    line-height: 25px;
  }

  #eventList .eventTile > .eventView::before {
    height: 12px;
    margin: 9px 0;
    width: 30px;
  }

  #eventList .eventTile > .eventThumbsUp::before {
    margin: 7px 0;
    height: 16px;
    width: 20px;
  }

  #eventList .foot {
    text-align: center;
    margin-top: 20px;
  }

  #eventList .foot > div > div.pagination, #eventList .foot > div > a.timetable {
    display: none;
  }

  #eventList a.more {
    margin-top: 10px;
    display: inline-block;
    background: #243D7D;
    text-align: center;
    width: 115px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
  }

  #eventList a.more.disabled {
    /*animation: fade-out 0.2s;
    animation-fill-mode: forwards;*/
    display: none;
  }

  #timetable-mb {
    grid-row: 7;
    grid-column: 1 / -1;
    line-height: 60px;
    display: block;
    background-color: #fff;
    color: #0D163B;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }

  #timetable-mb img {
    width: 30px;
    margin-left: 14px;
    vertical-align: middle;
  }

  #about {
    grid-template-rows: auto auto auto 40px;
    grid-template-columns: 100%;
  }

  #about > div.about-tile {
    grid-column: 1!important;
    background: linear-gradient(to right, rgba(36, 61, 125, 1), rgba(36, 61, 125, 0))!important;
    border: none!important;
    margin: 10px 0;
    height: 100px;
    display: block;
    position: relative;
  }

  #about > div.about-tile::before, #about > div.about-tile::after {
    box-shadow: none!important;
  }

  #about > div.about-tile:nth-child(1) {
    grid-row: 1;
  }

  #about > div.about-tile:nth-child(2) {
    grid-row: 2;
  }

  #about > div.about-tile:nth-child(3) {
    grid-row: 3;
  }

  #about > div.about-tile > div:nth-child(3) {
    display: none;
  }
  /* 正直ここら辺ゴミ、グリッドで書き直すか？ */
  #about > div.about-tile > div:nth-child(1) {
    position: absolute;
    display: inline-block;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
  }

  #about > div.about-tile > div:nth-child(2) {
    position: absolute;
    display: inline-block;
    right: 13%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }

  #about > div.about-tile > div:nth-child(2) > img {
    height: 30px;
    width: auto;
  }

  #about > div.about-tile:nth-child(1)::after, #about > div.about-tile:nth-child(2)::after, #about > div.about-tile:nth-child(3)::after {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 50%;
    content: '';
    background-image: url('../img/nav-icon.svg');
    background-size: contain;
    width: 16px;
    height: 32px;
    z-index: 100;
    transform: translateY(-50%);
  }

  #other {
    display: none;
  }

  #goldBanner, #silverBanner {
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
}

/* SNSボタン */
.circle_fl {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 30px;
  padding: 5px;
  margin: 0px 10px;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background: #121F4A;
  padding: 10px;
	transition-duration: 200ms;
}

.circle_fl-color.circle_fl-twitter {
	background: #55acee;
}

.circle_fl-color.circle_fl-facebook {
	background: #3B5998;
}

.circle_fl-color.circle_fl-youtube {
	background: #FF0000;
}

.circle_fl-instagram {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
}
.circle_fl-instagram-gradient {
  background: transparent;
}
.circle_fl-instagram-gradient > div {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  top: 1px;
  left: 1px;
  position: absolute;
  overflow: hidden;
	background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  z-index: 1;
}
.circle_fl-instagram-gradient > div::before {
  content: '';
  position: absolute;/*絶対配置*/
  top: 23px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 60px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
  z-index: 1;
}

@media screen and (min-width: 576px) {
  .circle_fl-twitter:hover {
    background: #55acee;
  }
  
  .circle_fl-facebook:hover {
    background: #3B5998;
  }
  .circle_fl-youtube:hover {
    background: #FF0000;
  }
  .circle_fl-instagram:hover {
    background: transparent;
  }
}

.social-icon {
  position: absolute;
  width: 27px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}