/* Footer */
footer {
  grid-area: footer;
  display: grid;
  background-color: #243D7D;
  color: #fff;
  grid-template-rows: 80px auto 30px auto 30px auto auto;
  grid-template-columns: 100%;
  grid-template-areas:
  "."
  "logo"
  "."
  "sitemap"
  "."
  "sns"
  "copyright";
  text-align: center;
}

footer #footerLogo {
  grid-area: logo;
}

footer #footerLogo > img.icon, footer #footerLogo > img.text {
  width: 150px;
}

footer #footerSiteMap {
  grid-area: sitemap;
  padding: 30px 10%;
  display: grid;
  grid-template-columns: calc(100% / 4) calc(100% / 4) calc(100% / 4) calc(100% / 4);
}

footer #footerSiteMap > a {
  display: block;
  text-align: left;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

footer #footer-no1 {
  grid-area: no1;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}

footer #footer-no1 img.rikoten-no1 {
  height: 180px;
  max-width: 90%;
}

footer #footerCopyright {
  grid-area: copyright;
  font-size: 14px;
}

footer #sns-btn {
  grid-area: sns;
  text-align: center;
}

@media screen and (max-width: 992px) {
  footer #footerSiteMap {
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    padding: 30px 5%;
  }
}

@media screen and (max-width: 768px) {
  footer #footerSiteMap {
    margin: 0 5%;
    border-right: none;
    grid-template-columns: calc(100% / 2) calc(100% / 2);
  }
  footer #footerSiteMap a {
    text-align: center;
  }
}
