#logo {
  margin: 0 auto;
  padding: 50px 0;
}

#logo img.icon {
  height: 100px;
  width: calc(100px/490*662);
}

#logo img.text {
  height: 80px;
  margin: 0 auto 0 40px;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-in-grid {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: grid;
    opacity: 0;
  }

  100% {
    display: grid;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
    
body {
  margin: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #454E53;

  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "topView"
    "main"
    "other"
    "support"
    "footer";
}

#header {
  display: grid;
  grid-template-rows: 30px 55px 30px;
  grid-template-columns: 30px 1fr auto 30px 30px 30px;
  grid-template-areas: 
  ". . . . . ."
  ". logo language . menuBtn ."
  ". . . . . .";
  position: fixed;
  top: 0;
  background: transparent;
  color: #fff;
  width: 100%;
  z-index: 99;
  pointer-events: none;
}

#header #headerLogo {
  grid-area: logo;
}

#header #headerLogo > img.icon {
  height: 55px;
  pointer-events: all;
}

#header #headerLogo > img.text {
  height: 50px;
  margin-left: 10px;
  pointer-events: all;
}

#header #headerLanguage {
  grid-area: language;
  line-height: 55px;
  pointer-events: all;
}

#header #headerMenuBtn {
  grid-area: menuBtn;
  pointer-events: all;
}

#topView {
  grid-area: topView;
  position: relative;
  height: 100vh;
  min-height: 900px;
  background: url(../img/top-background.png) no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

#topView > #themeText {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  width: 100%;
  height: calc(100% - 20vw * 3 / 4.3);
  text-align: center;
}

#topView > #themeText > img {
  width: 300px;
}

.topView-bar {
  position: absolute;
  bottom: 0;
  display: flex;
}

#topView-event-bar-container-mb {
  display: none;
}

.topView-bar > a{
  text-decoration: none;
}

.topView-bar > a > .topView-event-tile {
  position: relative;
  bottom: 0;
  margin: 0 1px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 20vw;
  height: calc(20vw * 3 / 4.3);
  color: #fff;
  font-weight: 500;
  display: grid;

  grid-template-areas: ". . . ."
  ". type time ."
  ". title title ."
  ". . . .";
  grid-template-columns: 10% 90px 1fr 10%;
  grid-template-rows: 20% 30px 1fr 30px 20%;
  transition: 200ms;
}

.topView-bar > a > .topView-event-tile:hover {
  bottom: 10px;
}

.topView-bar > a > .topView-event-tile.article:hover {
  box-shadow: 0px 10px #A3D4DC;
}

.topView-bar > a > .topView-event-tile.movie:hover {
  box-shadow: 0px 10px #E2AFBF;
}

.topView-bar > a > .topView-event-tile.live:hover {
  box-shadow: 0px 10px #AFD7AA;
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container {
  grid-area: type;
  line-height: 30px;
  position: relative;
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type {
  position: relative;
  display: inline-block;
  border-left: 8px solid currentColor;
  background-color: #fff;
  height: 30px;
  width: 70px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 70px;
  text-align: center;
  font-size: 16px;
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.article {
  color: #B0D8E4;
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.article::after {
  content: 'Article';
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.movie {
  color: #E2AFBF;
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.movie::after {
  content: 'Movie';
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.live {
  color: #AFD7AA;
}

.topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type.live::after {
  content: 'Live';
}

.topView-bar > a > .topView-event-tile > .topView-event-time {
  grid-area: time;
  font-size: 16px;
  text-align: right;
}

.topView-bar > a > .topView-event-tile > .topView-event-title {
  grid-area: title;
  font-size: 22px;
  display: flex;
  align-items: center;
}

#main {
  grid-area: main;
  background: linear-gradient(#1A2D63, #0D163B);
  color: #fff;
}

#event {
}

#eventH3 {
  grid-row: 1;
  grid-column: 1 / -1;
  height: 100%;
  text-align: center;
}

#eventH3 > div {
  position: relative;
  display: inline-block;
  height: 100px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  width: 400px;
  z-index: 10;
  border-left: transparent solid 6px;
  border-right: transparent solid 6px;
  color: #A3D4DC;
  background: #243D7D;
  line-height: 100px;
}

#eventH3 > div::before, #eventH3 > div::after {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  box-shadow: 0 0 10px #fff;
  z-index: 20;
  content: '';
}

#eventH3 > div::before {
  left: -4px;
  background: linear-gradient(to right, #A3D4DC 66%, #fff 67%);
}

#eventH3 > div::after {
  right: -4px;
  background: linear-gradient(to left, #A3D4DC 66%, #fff 67%);
}

#timetable-mb {
  display: none;
}

#about {
  display: grid;
  grid-template-rows: auto 80px;
  grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}

#about-mb {
  display: none;
}

/*#about > div.about-bg {
  grid-column: 2 / 4;
  grid-row: 1 / -2;
  z-index: 2;
  position: relative;
  background: linear-gradient();
}*/

#about > div.about-tile {
  text-align: center;
  grid-row: 1;
  display: grid;
  /*grid-template-rows: 50px auto 1fr auto 1fr 50px 50px;*/
  grid-template-rows: 50px auto 30px auto 30px 50px 50px;
}

#about > div.about-tile:nth-child(1) {
  grid-column: 2;
  background: linear-gradient(to right, rgba(36, 61, 125, 0), rgba(36, 61, 125, 1) 90%);
  border-right: #A3D4DC solid 4px;
}

#about > div.about-tile:nth-child(2) {
  position: relative;
  grid-column: 3;
  background-color: #243D7D;
  border-left: #FFF solid 2px;
  border-right: #A3D4DC solid 4px;
}

#about > div.about-tile:nth-child(2)::before, #about > div.about-tile:nth-child(2)::after {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  box-shadow: 0 0 10px #fff;
  z-index: 20;
  content: '';
}

#about > div.about-tile:nth-child(2)::before {
  left: -6px;
}

#about > div.about-tile:nth-child(2)::after {
  right: -6px;
}

#about > div.about-tile:nth-child(3) {
  grid-column: 4;
  background: linear-gradient(to left, rgba(36, 61, 125, 0), rgba(36, 61, 125, 1) 90%);
  border-left: #FFF solid 2px;
}

#about > div.about-tile > div:nth-child(1), #about-mb > div.about-tile > a > div:nth-child(1) {
  grid-row: 2;
  color: #A3D4DC;
  font-size: 30px;
}

#about > div.about-tile > div:nth-child(2), #about-mb > div.about-tile > a > div:nth-child(2) {
  grid-row: 4;
  color: #FFF;
  font-size: 18px;
}

#about > div.about-tile > div:nth-child(3) {
  grid-row: 6;
}

#about > div.about-tile img.about-logo {
  width: 250px;
}

a.detailButton {
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  transition: 200ms ease-in-out;
  overflow: hidden;
  z-index: 10;
  text-align: center;
}

a.detailButton::before {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -450px;
  top: -100px;
  content: '';
  transform: rotate(45deg);
  transition: 200ms ease-in-out;
  z-index: -1;
}

a.detailButton:hover::before {
  left: -250px;
  transform: rotate(45deg);
}

#about a.detailButton {
  border: 3px solid #A3D4DC;
  color: #fff;
}

#about a.detailButton:hover {
  color: #1A2D63;
}

#about a.detailButton::before {
  background: #A3D4DC;
}

#other {
  grid-area: other;
  background-color: #A3D4DC;
  display: grid;
  grid-template-rows: auto 50px auto 100px;
  grid-template-areas: 
  "app"
  "."
  "collaboration"
  ".";
  color: #243D7D;
}

#other h3 {
  font-weight: 500;
  font-size: 30px;
}

#other #app {
  grid-area: app;
  padding-top: 100px;
  padding-bottom: 50px;
}

#other #app #appContainer {
  grid-area: appContainer;
}

#other #app #appImg {
  grid-area: appImg;
}

/*#other #collaboration {
  grid-area: collaboration;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-areas: ". collaboContainer collaboImg .";
}

#other #collaboration #collaboContainer {
  grid-area: collaboContainer;
}

#other #collaboration #collaboImg {
  grid-area: collaboImg;
}*/

#other #collaboration {
  grid-area: collaboration;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#other a.detailButton {
  border: 3px solid #fff;
  color: #fff;
}

#other a.detailButton:hover {
  color: #243D7D;
}

#other a.detailButton::before {
  background: #fff;
}

#other #app a.detailButton {
  border: 3px solid #243D7D;
  color: #243D7D;
}

#other #app a.detailButton:hover {
  color: #fff;
}

#other #app a.detailButton::before {
  background: #243D7D;
}

#support {
  grid-area: support;
  background-color: #fff;
  text-align: center;
  color: #243D7D;
}

#support > h3 {
  font-weight: 500;
  font-size: 30px;
}

/* PC全般（今後整理） */

@media screen and (min-width: 993px) {

}

/* PC小画面 */
@media screen and (max-width: 1600px) {
  #topView {
    min-height: 558px;
  }

  .topView-bar > a > .topView-event-tile {
    width: 25vw;
    height: calc(25vw * 3 / 4.3);
  }
}

@media screen and (max-width: 1200px) {
  #about {
    grid-template-columns: 5% 30% 30% 30% 5%;
  }
  
  #other #app {
    grid-template-columns: 10% 53% 27% 10%;
  }
  
  #other #collaboration {
    grid-template-columns: 10% 53% 27% 10%;
  }
}

/* ここからスマホ */

@media screen and (max-width: 992px) {
  body {
    line-height: 28px;
  }

  #header #headerLogo {
    grid-template-rows: 20px 30px 20px;
    grid-template-columns: 10px calc(1fr - 30px) 30px 10px;
    grid-template-areas: 
    ". . . ."
    ". logo menuBtn ."
    ". . . .";
  }

  #header #headerLogo > img.icon {
    height: 30px;
  }
  
  #header #headerLogo > img.text {
    height: 30px;
  }
  
  #header #headerLanguage {
    display: none;
  }

  #topView > #themeText {
    text-align: center;
    font-size: 16px;
    
  }
  
  #topView > #themeText > img {
    height: 40px;
    width: auto;
  }

  #topView-event-bar {
    display: none;
  }

  #topView-event-bar-container-mb {
    display: flex;
  }

  #topView-event-bar-mb {
    display: flex;
    overflow: scroll;
  }

  .topView-bar {
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
  }
  
  .topView-bar::-webkit-scrollbar {  /* Chrome, Safari 対応 */
      display:none;
  }

  .topView-bar > a > .topView-event-tile {
    width: 140px;
    height: 185px;
    bottom: 0;
    margin: 0 5px 10px;

    grid-template-areas: ". . ."
    "type type ."
    ". title ."
    ". time ."
    ". . .";
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 15px 25px 105px 25px 15px;
    transition: 200ms;
  }

  .topView-bar > a > .topView-event-tile:hover {
    box-shadow: none!important;
    bottom: 10px;
  }

  .topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type {
    height: 25px;
    width: 60px;
  }

  .topView-bar > a > .topView-event-tile > .topView-event-type-container > .topView-event-type::after {
    width: 60px;
    line-height: 25px;
    font-size: 14px;
  }

  .topView-bar > a > .topView-event-tile > .topView-event-time {
    font-size: 14px;
  }

  .topView-bar > a > .topView-event-tile > .topView-event-title {
    font-size: 16px;
  }

  #event {
    grid-template-rows: 40px auto 30px;
  }

  #eventH3 > div {
    width: 250px;
    font-size: 22px;
    height: 70px;
    line-height: 70px;
  }
  #eventH3 > div::before, #eventH3 > div::after {
    height: 70px;
  }

  #timetable-mb {
    grid-row: 7;
    grid-column: 1 / -1;
    line-height: 60px;
    display: block;
    background-color: #fff;
    color: #0D163B;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }

  #timetable-mb img {
    width: 30px;
    margin-left: 14px;
    vertical-align: middle;
  }

  #about {
    display: none;
  }

  #about-mb {
    display: grid;
    grid-template-rows: auto auto auto 40px;
    grid-template-columns: 100%;
  }

  #about-mb > div.about-tile {
    grid-column: 1!important;
    background: linear-gradient(to right, rgba(36, 61, 125, 1), rgba(36, 61, 125, 0))!important;
    border: none!important;
    margin: 10px 0;
    height: 100px;
    position: relative;
  }

  #about-mb > div.about-tile > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #about-mb > div.about-tile::before, #about-mb > div.about-tile::after {
    box-shadow: none!important;
  }

  #about-mb > div.about-tile:nth-child(1) {
    grid-row: 1;
  }

  #about-mb > div.about-tile:nth-child(2) {
    grid-row: 2;
  }

  #about-mb > div.about-tile:nth-child(3) {
    grid-row: 3;
  }

  #about-mb > div.about-tile > a > div:nth-child(3) {
    display: none;
  }
  /* 正直ここら辺ゴミ、グリッドで書き直すか？ */
  #about-mb > div.about-tile > a > div:nth-child(1) {
    max-width: 150px;
    width: 40%;
    font-size: 22px;
  }

  #about-mb > div.about-tile > a > div:nth-child(2) {
    max-width: 280px;
    width: 60%;
    font-size: 14px;
  }

  #about-mb > div.about-tile > a > div:nth-child(2) > img {
    height: 30px;
    width: auto;
  }

  #about-mb > div.about-tile:nth-child(1)::after, #about-mb > div.about-tile:nth-child(2)::after, #about-mb > div.about-tile:nth-child(3)::after {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 50%;
    content: '';
    background-image: url('../img/nav-icon.svg');
    background-size: contain;
    width: 16px;
    height: 32px;
    z-index: 100;
    transform: translateY(-50%);
  }

  #other #collaboration {
    grid-area: collaboration;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #goldBanner, #silverBanner {
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 340px) {
  #about-mb > div.about-tile > a > div:nth-child(2) {
    font-size: 12px;
  }
}

.supplementary-info {
  display: flex;
  margin-top: 20px;
}

.supplementary-info .target {
  font-size: 13px;
  background-color: #FFF;
  border-radius: 30px;
  padding: 2px 10px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .15);
}

.supplementary-info span {
  position: relative;
}

.supplementary-info span:not(:first-child) {
  margin-left: 70px;
}

.supplementary-info span:not(.target) {
  filter: drop-shadow(0px 2px 3px rgba(0,0,0,.3));
}

.supplementary-info span.first-span {
  margin-left: 35px;
}

.supplementary-info .event-view::before {
  content: "";
  background: url("/img/iconset.svg");
  background-size: 180px 120px;
  background-position: -120px -30px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -35px;
}

.supplementary-info .event-thumbsup::before {
  content: "";
  background: url("/img/iconset.svg");
  background-size: 180px 120px;
  background-position: -90px -30px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -2px;
  left: -35px;
  transform: scale(.8);
}


.app-band {
  position: relative;
  background: linear-gradient(to right bottom, #EEEEEE, #FCFCFC 25%, #EEEEEE 50%, #FCFCFC 75%);
  padding: 0 10%;
  height: 400px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}

.app-band::before, .app-band::after {
  position: absolute;
  height: 100%;
  width: 33%;
  object-fit: contain;
  overflow: hidden;
  content: url(../img/appbg.png);
  top: 0%;
  z-index: 0;
}

.app-band::before {
  left: 5%;
}

.app-band::after {
  right: 5%;
}

.app-band div:nth-child(1), .app-band div:nth-child(3) {
  width: calc((100% - 33vw) / 2);
  padding-bottom: 10px;
  z-index: 5;
}

.app-band div:nth-child(1) img {
  height: 300px;
}

.app-band div:nth-child(1) p, .app-band div:nth-child(3) p {
  line-height: 40px;
  height: 40px;
}

.app-band div:nth-child(2) {
  width: 33vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}

.app-band div:nth-child(2) p {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.app-band div:nth-child(3) img {
  width: 300px;
}

.app-band div:nth-child(4) {
  display: none;
  /*width: 100%;*/
}

@media screen and (max-width: 1200px) {
  .app-band {
      padding: 0 5%;
  }

  .app-band div:nth-child(2) p {
      width: 350px;
      font-size: 25px;
      line-height: 45px;
  }

  .app-band div:nth-child(1), .app-band div:nth-child(3) {
      width: calc((100% - 350px) / 2);
  }
}

@media screen and (max-width: 992px) {
  .app-band {
      padding: 0 10px;
      height: 300px;
  }

  .app-band div:nth-child(1) img {
      height: 200px;
  }
  
  .app-band div:nth-child(3) img {
      width: 200px;
  }

  .app-band div:nth-child(1) p, .app-band div:nth-child(3) p {
      font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .app-band {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding-top: 25px;
  }

  .app-band div:nth-child(1), .app-band div:nth-child(3) {
      display: none;
  }

  .app-band div:nth-child(4) {
      display: block;
      z-index: 5;
  }
  
  .app-band div:nth-child(4) img {
      max-width: 80%;
      margin: 50px 0;
      width: 500px;
  }

  .app-band::before {
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  .app-band::after {
      display: none;
  }
}

@media screen and (max-width: 550px) {
  .app-band div:nth-child(2) p {
      width: 300px;
      font-size: 22px;
      line-height: 45px;
      font-weight: bold;
      margin-bottom: 45px;
  }

}