body {
    margin: 0;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'Noto Sans JP', sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: #000000fd;
}


.message{
    background-color: #0D163B;
    text-align: center;
    background-image: url(../Overtime_page_back.svg);
    background-size: cover;
    background-position: center center;
}

.message h1{
    font-size: 40px;
    color: white;
    padding: 20px 0 0 0;
}

.message h2{
    font-size: 25px;
    color: white;
    margin-left: 20px;
}

.box1{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #ffffff;
    background-color: #0D163B;
    box-shadow: 0px 0px 0px 10px #ffffff;
    border: dashed 2px  #2a3033;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.box1 p {
    margin: 0; 
    padding: 0;
    color: white;
}

.content{
    margin-top: 280px;
    line-height: 50px;
    width: 900px;
    margin: 0 auto;
}

.content p{
    margin-bottom: 60px;
    font-weight: bold;
    line-height: 50px;
    font-size: 18px;
    color: white;
}

.content h2{
    color: white;
    border-left: white solid 10px;
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 22px;
}

@media screen and (max-width: 920px){
    .message{
        background-color: #0D163B;
        text-align: center;
        background-image: none;
    }

    .content p{
        margin-bottom: 60px;
        font-weight: bold;
        line-height: 50px;
        font-size: 18px;
        font-family: 'Yu Gothic';
        color: white;
    }

    .content{
        line-height: 50px;
        width: 550px;
        margin: 0 auto;
    }

    .content p{
        margin-top: 20px;
        font-size: 16px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .content h2{
        color: white;
        border-left: white solid 10px;
        padding-left: 20px;
        margin-bottom: 30px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .content{
        width: calc(100% - 20px);
        margin: 0 auto;
        margin: 0px 10px;
    }

    .content p{
        font-size: 16px;
    }

    .content h2{
        margin: 0;
        font-size: 18px;
        line-height: 50px;
        padding-left: 20px;
    }
}